<footer class="bg-dark" id="tempaltemo_footer">
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <a class="text-light" href="https://www.google.com/maps/place/Georgia" target="_blank">
                        <i class="fas fa-map-marker-alt fa-fw"></i><small>with Love from Georgia</small>
                    </a>
                </div>
                <div class="col-md-1 fa-align-right">
                    <a class="text-light" href="mailto:ilsegribko@gmail.com" target="_blank"><i class="fa fa-envelope fa-sm fa-fw"></i></a>
                    <a class="text-light" href="https://t.me/gem_install_ilya" target="_blank"><i class="fab fa-telegram-plane fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>